Package: jupyterhub4family
Version: 1.0.0-220
Section: base 
Priority: optional 
Architecture: all
Depends: python3,python3-pip,sudo,nodejs,npm,git,cron,screen,openssl
Maintainer: gh-hastmu@gmx.de
Description: Jupyterhub package for a standalone Debian Node supporting a out of the box family setup.
